HTML{
  background-color: lavender;
}
.App {
  text-align: center;
}

.app h1{
  font-weight: 25px;
  color: #001e4d;
  font-weight: 600;
  border-bottom: 1px solid #333;
  padding-bottom: 30px;
}

.quiz {
  padding: 20px 0;
}

.welcomeRaccoon {
  margin-top: 14em;
  height: 55vh;
  width: 50vw;
  border-radius: 50rem;
}

.startQuiz {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* .startBtn {
  background-color: aquamarine;
  cursor: pointer;
  display: flex;
  border: none;
  border-radius: 1rem;
  color: white;
  padding: 20px 35px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 56px;
  letter-spacing: 3px;
  
} */

.quizBox {
  
}
